.bg_line{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    span{
        position: relative;
        display: block;
        width: 100%;
        border-inline-end: 1px solid #dadada1f;

        &:last-child{
            border-inline-end: none;
        }
    }
}