:root {
    --primary-color: #444444;
    --secondary-color: #999999;
    --bg-color: #4a4a4a;
    --border-color: #909090;
    --text-color: #000;
    --white-color: #fff;
    --font-family: 'Poppins', sans-serif;
}